.changeThemeButton {
    display: block;
    margin: 20px 20px auto auto;
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
    background-color: #08f1f1;
    font-family: Lato;
    font-size: 12px;
    cursor: pointer;
}